$primary-color: #272727;
$secondary-color: #56bee7;
$dark-nav-color: #13ecec;
$light-nav-color: #9deeee;
$tertiary-color: #86b8e0;
$dark-text: rgb(4, 4, 51);
$light-text: rgb(195, 196, 197);

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color)> 40) {
    @return rgb(4, 4, 51);
  } @else {
    @return rgb(195, 196, 197);
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}